.vertical-bottom {
  display: inline-block;
  vertical-align: bottom;
  float: none;
  padding: 0px;
  margin-right:20px;
}

.get-info-message {
  margin: 5px 0px;
}

.get-info-message div {
  background-color: #f9f9f9;
  padding: 20px 10px;
  border-radius: 5px;
}

#btn-verify-employee-code {
  width: 70px;
}
