.category-title-field input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #3c8dbc;
  outline: none;
  background-color: inherit;
}

.btn-confirm-edit {
  width: 80px;
}

#table-modified {
  padding: 10px 220px 10px 220px;
}

#btn-modified {
  margin: 10px 0 0 50px;
}

#picture-display {
  display: block;
  margin: 20px;
}

.language-title-field input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #3c8dbc;
  outline: none;
  background-color: inherit;
}
